<div class="pages profile">
    <h1>Поповнення балансу</h1>
    <img id="spacer" src="img/sp.gif" align="left" />
    <div class="form">
        &nbsp;<br/>
        Оберіть необхідну суму: &nbsp;<input /> USD <br/>
        Систему платежу: &nbsp;<select></select> <br/>
        Всього до сплати: &nbsp;<input /> <br/>
        Перейти на сторінку платіжної системи <a href="#" class="enter">Перейти</a>
    </div>
    <p>Электронный кошелек RBK Money. Банковские платежи. Платежные терминалы. Системы денежных переводов.Банковские платежи. Платежные терминалы. Системы денежных переводов. овские платежи. Платежные терминалы. Системы денежных переводов.</p>
    <h2>Перелік системи платежів якими Ви можете скористатись</h2>
    <img src="img/temp/visa.gif"/>
    <img src="img/temp/master.gif"/>
    <img src="img/temp/paypal.gif"/>
    <img src="img/temp/visa.gif"/>
    <img src="img/temp/master.gif"/>
    <img src="img/temp/paypal.gif"/>
    <img src="img/temp/visa.gif"/>
    <img src="img/temp/master.gif"/>
    <img src="img/temp/paypal.gif"/>
    <img src="img/temp/visa.gif"/>
    <img src="img/temp/master.gif"/>
    <img src="img/temp/paypal.gif"/>
</div>