<div class="pages download">
    <h1>Выберите необходимую версию соответственно операционной системы вашего телефона:</h1>
    <img id="spacer" src="img/sp.gif" align="left" />
    <ul>
        <li>
            <img src="img/os/java.png">
            <h5><b>Caller Mate</b><br/>Java версия</h5>
            <a class="download" href="soft/CallerMateJava.jar">Загрузить</a>
        </li>
        <li>
            <img src="img/os/windows.png">
            <h5><b>Caller Mate</b><br/>для Windows Mobile</h5>
            <a class="download" href="soft/CallerMateWindowsMobile.CAB">Загрузить</a>
        </li>
        <li>
            <img src="img/os/android.png">
            <h5><b>Caller Mate</b><br/>для Android OS</h5>
            <a class="download" href="soft/CallerMateAndroid.apk">Загрузить</a>
        </li>
        <li>
            <img src="img/os/symbian.png">
            <h5><b>Caller Mate</b><br/>для Symbian OS</h5>
            <a class="download" href="soft/CallerMateSymbian.sis">Загрузить</a>
        </li>
        <li>
            <img src="img/os/blackberry.png">
            <h5><b>Caller Mate</b><br/>для BlackBerry</h5>
            <a class="download" href="soft/CallerMateBlackberry.rar">Загрузить</a>
        </li>
    </ul>
</div>