<div class="pages howItWorks">
    <h1>
        <a href="howItWorks.html">Как это работает</a>
        <span>FAQ</span>
    </h1>
    <img id="spacer" src="img/sp.gif" align="left"/>
    <p>
        В: В каких странах я могу воспользоваться услугами caller-mate?<br>
        О: Во всех странах где есть GSM связь.
    </p>
    <p>
        В: Сколько интернет-трафика нужно для работы программы?<br>
        О: Caller-mate использует сеть только для инициации звонка, тоесть обьем трафика является минимальным - меньше 1kb.
    </p>
    <p>
        В: Как я могу пополнить свой счет в системе caller-mate?<br>
        О: Для того чтобы пополнить счет перейдите в соответствующую секцию при залогированном пользователе. Вы можете воспользоваться большим количеством способов - от стандартной платежной карты до банковского перевода.
    </p>
    <p>
        В: Какую сумму на счету мне нужно иметь чтобы совершать звонки?<br>
        О: Минимальная сумма на счету для совершения звонков 0.5$
    </p>
    <p>
        В: Если я сейчас пополню счет и некоторое время не буду пользоваться сервисом, сохранятся ли деньги на счету?<br>
        О: Да конечно, ваши деньги сохранятся.
    </p>
</div>