<div class="pages about">
    <h1>Про компанию</h1>
    <img id="spacer" src="img/sp.gif" align="left" />
    <p>
        Проект caller-mate – это новое слово на рынке телефонии. 
        Наши услуги нацелены на людей, которые часто путешествуют и бывают за границей.
        Ни для кого не секрет, что пользоваться мобильной связью в роуминге довольно дорого, наш проект поиожет вам секономить деньги и чустовать себя комфортно, имея возможность позвонить куда угодно в любое время.
    </p>
    <p>
        Широко известным решением преодоления этой проблемы являются так званные travel sim карты, исползуя которые вы можете секономить деньги на роуминге. Но это решение имеет существенный недостаток - ви должны вставить travek sim карту вместо карты вашего мобильного оператора.
        Основное отличие и новшество нашего продукта заключается в том, что вам не нужно использовать другую карту для звонков за границей.
        Вам нужно лишь загрузить и установить программу на ваш мобильный телефон, все остальное программа сделает за вас, когда вы предоставите ей номер вашего абонента.
        Также caller-mate дает вам возможность звонить на skype.
    </p>
    <p>
        Для того чтобы воспользоваться нашим сервисом вам нужно лишь:
    </p>
    <ul>
        <li>зарегистрироваться на нашем сайте</li>
        <li>загрузить программу Caller-mate на ваш мобильный</li>
        <li>пополнить счет удобным для вас способом</li>
    </ul>
    <p>
        И все... Это все займет у вас не более десяти минут.
    </p>
</div>