<div class="pages howItWorks">
    <h1>
        <a href="#">Как это работает</a>
        <a href="#">FAQ</a>
    </h1>
    <img id="spacer" src="img/sp.gif" align="left" alt="caller-mate схема работы" />
    <p>
        Основным принципом работы caller-mate является так называемая технология "обратного вызова" или callback.
        Общая схема работы системы изображена на рисунке:
        
    </p>
    <img src="img/scheme.gif"/>
    <p>Пошагово все происходит так:</p>
    <ul>
        <li>Пользователь указывает первый номер телефона и второй номер телефона, либо логин пользователя Skype</li>
        <li>Телефон, используя GPRS или Wi-Fi, отсылает запрос на сервер</li>
        <li>Сервер инициирует звонок на второй номер или на Skype второго пользователя</li>
        <li>После того как второй абонент берет трубку – начинается общение</li>
    </ul>
    <p>Все эти процедуры занимают не более десяти секунд</p>
</div>