<div class="pages profile">
    <h1>
        <span>Поменять пароль</span>
        <a href="userBalance.html">Баланс</a>
    </h1>
    <img id="spacer" src="img/sp.gif" align="left" />
<?if ($error || $message):?>
    <?if ($error):?>
        <span class="error"><?=$error;?></span>
    <?else:?>
        <span class="message"><?=$message;?></span>
    <?endif;?>
<?else:?>
        <form method="post" class="form" id="changePasswordForm">
            Старый пароль: &nbsp;<input type="password" name="oldPassword" id="oldPassword"/> <br/>
            Новый пароль: &nbsp;<input type="password" name="newPassword1" id="newPassword1"/> &nbsp;
            Еще раз: &nbsp;<input type="password" name="newPassword2" id="newPassword2"/> <br/>
            <a href="#" id="changePassword" class="enter">Поменять</a><br/>
        </form>
<?endif;?>
</div>