<?if ($error || $message):?>
<div class="pages profile">
    <h1>Восстановление пароля</h1>
    <img id="spacer" src="img/sp.gif" align="left" />
    <?if ($error):?>
        <span class="error"><?=$error;?></span>
    <?else:?>
        <span class="message"><?=$message;?></span>
    <?endif;?>
</div>
<?else:?>
    <div class="pages profile">
        <h1>Восстановление пароля</h1>
        <img id="spacer" src="img/sp.gif" align="left" />
        <form method="post" class="form" id="passwordRecoveryForm">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Введите свой e-mail:. <br/>
            <input type="text" name="email" id="email"/> <br/>
            <a href="#" id="passwordRecovery" class="enter">Выслать</a><br/>
        </form>
    </div>
<?endif;?>