<div class="pages profile">
    <h1>Поповнення балансу</h1>
    <img id="spacer" src="img/sp.gif" align="left" />
    <div class="form">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Оберіть необхідну суму: &nbsp;<input name="amount" id="topUpAmount" value="10"/> USD <br/>
        <a href="#" id="getPaymentMethods" class="enter">Далі</a><br/>
        <div id="topUpContent">
            
        </div>
    </div>
    <p>
        Вы можете пополнить свой счет любым удобным для вас способом. Мы предоставляем возможность сделать это с помощью широкого спектра платежных систем.
    </p>
     
     
    <h2>Список систем, которыми вы можете воспользоваться.</h2>
    <img src="img/temp/visa.gif"/>
    <img src="img/temp/master.gif"/>
</div>