<div class="pages contacts">
    <h1>Про компанію</h1>
    <img id="spacer" src="img/sp.gif" align="left" />
    <p>
        <span class="orange">Служба поддержки в России:</span><br/>
        +7 (499) 503 9295<br/>
        info@freeje.com<br/>
        <br/>
        <span class="orange">Головной офис в Великобритании:</span><br/>
        +44 20 302 62 072<br/>
        311 Shoreham street, Sheffield, England, S24FA<br/>
        <br/>
        <span class="orange">Представительство в США:</span><br/>
        +1 567 244 5678
    </p>
</div>