<div class="pages howItWorks">
    <h1>
        <a href="#">Як це працює</a>
        <a href="#">Інсталяція</a>
        <a href="#">FAQ</a>
    </h1>
    <img id="spacer" src="img/sp.gif" align="left" />
    <p class="caption">Как это работает?</p>
    <p>Основой работы приложения Freeje является технология callback, т.е. «обратный вызов». В общем виде схема звонка с помощью приложения Freeje выглядит следующим образом:</p>
    <img src="img/scheme.gif"/>
    <p>
    С телефона инициатора поступает GPRS запрос на сервер Freeje;<br/>
    - Запрос обрабатывается сервером;<br/>
    - Инициатор получает входящий звонок (callback 1) и прослушивает сообщение Wait for call (Дождитесь звонка);<br/>
    - Сервер посылает входящий вызов (callback 2) на телефон или Skype абонента;<br/>
    - Когда абонент ответил на звонок - можно общаться.
    </p>
    <p>Также возможно соединение двух сторонних телефонов с телефона инициатора. В этом случае дозвон идет на указанные в приложении инициатора телефоны.</p>
</div>