<div class="pages howItWorks">
    <h1>
        <a href="howItWorks.html">Як це працює</a>
        <span>FAQ</span>
    </h1>
    <img id="spacer" src="img/sp.gif" align="left"/>    
    <p>
        П: В яких країнах я можу скористатись послугами caller-mate?<br>
        В: В усіх країнах де є GSM зв”язок.
    </p>
    <p>
        П: Скільки інтернет-трафіку потрібно для роботи програми?<br>
        В: Caller-mate використовує мережу лише для ініціації дзвінка, тобто об'єм трафіку є мінімальний – менше 1kb
    </p>
    <p>
        П: Як я можу поповнити свій рахунок у системі caller-mate?<br>
        В: Для того щоб поповнити рахунок перейдіть у відповідну секцію при залогованому користувачі. Ви можете скористатись низкою способів – від стандартної платіжної карточки до банківського переказу.
    </p>
    <p>
        П: Яку суму на рахунку мені треба мати щоб здіснювати дзвінки?<br>
        В: Мінімально сума на рахунку для здіснення дзвінків 0.5$
    </p>
    <p>
        П: Якщо я зараз поповню рахунок і деякий час не буду користуватись сервісом, чи збережуться гроші на рахунку?<br>
        В: Так звичайно, ваші кошти збережуться.
    </p>
</div>