<div class="pages about">
    <h1>Про компанію</h1>
    <img id="spacer" src="img/sp.gif" align="left" />
    <p>
        Проект Caller Mate – це нове слово на ринку телефонії. 
        Наші послуги спрямовані на людей які часто подорожують та бувають за кордоном. 
        Ні для кого не є секретом, що користуватись мобільним з'вязком у роумінгу є досить дорого, наш проект допоможе вам заощадити гроші та почувати себе комфортно, маючи можливість подзвонити будь кому у будь який момент.
    </p>
    <p>
        Широко відомим рішенням подолання цієї проблеми є так звані travel sim карти, використовуючи які ви можете заощадити гроші на роумнігу. Але це рішення має суттєвий недолік – ви маєте вставити travel sim картку замість вашої власної картки мобільного оператора. 
        Основна відмінність та іноваційність нашого продукту полягає в тому, що вам не потрібно використовувати іншу картку для дзвінків за кордоном. 
        Вам потрібно лише завантажити та встановити програму на ваш мобільний телефон, все решта ця програма зробить за вас, коли ви надасте їй номер вашого абонента.
        Також caller-mate надає вам можливість дзвонити на skype.
    </p>
    <p>
        Для того щоб скористатись нашим сервісом вам потрібно лише:
    </p>
    <ul>
        <li>зареєструватись на нашому сайті</li>
        <li>завантажити програму Caller Mate на ваш мобільний</li>
        <li>поповнити рахунок зручним для вас способом</li>
    </ul>
    <p>
        І все... Це все займе у вас не більше десяти хвилин.
    </p>
</div>