<div class="pages howItWorks">
    <h1>
        <span>Як це працює</span>
        <a href="FAQ.html">FAQ</a>
    </h1>
    <img id="spacer" src="img/sp.gif" align="left" alt="caller-mate схема роботи" />
    <p>
        Основним принципом роботи caller-mate є так звана технологія “зворотнього виклику” або callback. 
        Загальна схема роботи системи зображена на малюнку:
    </p>
    <img src="img/scheme.gif"/>
    <p>Покроково все відбувається так:</p>
    <ul>
        <li>Користувач вказує перший номер телефону та другий номер телефону, або логін користувача Skype</li>
        <li>Телефон, використовуючи GPRS чи Wi-Fi, висилає запит на сервер</li>
        <li>Сервер ініціює дзвінок на другий номер або на Skype другого користувача</li>
        <li>Після того як другий абонент бере трубку – починається спілкування</li>
    </ul>
    <p>Усі ці процедури займають не більше десяти секунд.</p>
</div>